header {
    display: flex;
    line-height: 100%;
    margin-top: 5%;
    position: fixed;
    top: 0%;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 5;
    @include tab {
        display: flex;
        justify-content: space-between;
    }
}

.hd-logo {
    font-size: 3.8rem;
    font-weight: normal;
    letter-spacing: 0.5rem;
    margin-left: 6%;
    margin-right: 1rem;
    z-index: 2;
    @include tab {
        font-size: 22px;
        min-width: 220px;
    }
}

.ham {
    display: none;
    @include tab {
        display: flex;
        width: 16px;
        height: 14px;
        justify-content: space-between;
        flex-direction: column;;
        margin-right: 20px;
        position: absolute;
        right: 0%;
        &.active {
            position: fixed;
            z-index: 3;
        }
        &.active span:nth-last-of-type(1) {
            width: 100%;
            transform: rotate(45deg) translate(-50%, -50%);
        }
        &.active span:nth-last-of-type(2) {
            opacity: 0;
        }
        &.active span:nth-last-of-type(3) {
            transform: rotate(-45deg) translate(-50%, 0%);
        }
        span {
            display: flex;
            width: 100%;
            height: 2px;
            background-color: black;
            z-index: 3;
            transition: .3s;
            &:last-child {
                width: 60%;
            }
        }


    }
}

nav {
    font-size: 1.8rem;
    color: #707070;
    z-index: 2;

    // ＊＊＊＊＊＊＊＊＊メニューバーのタブレット以下の表示＊＊＊＊＊＊＊＊＊＊
    @include tab {
        // display: none;              /*メニューバーは非表示*/
        visibility: hidden;
        transition: .3s;
    }
    
    
    & ul {
        display: flex;
        justify-content: space-between;
        & li {
            margin-right: 2vw;
            &:hover {
                color: #000000;
                // border-bottom: 1px solid #000;
                padding-bottom: 5px;
                position: relative;
                transition: 1s;
                &:before {
                    display: flex;
                    content: "";
                    position: absolute;
                    // left: 0%;
                    bottom: -3px;
                    width: 48px;
                    height: 1px;
                    background-color: black;
                }
            }
        }
    }     
}


.hd-navmenu.active ul {
    @include tab {
        display: flex;
        opacity: 1;
        visibility: visible;
        justify-content: space-between;
        flex-direction: column;
        background-color:#fff;
        position: fixed;
        top: 0;
        right: 0;
        width: 200px;
        height: 100vh;
        align-items: center;
        justify-content: space-around;
        padding: 8% 0 5% 0;
        overflow: auto;                             /*メニュー数が増えた場合スクロール可能*/
        max-height: 100vh;
        transition: .3s;
        z-index: 4;
        box-shadow: 0 0 20px #000;
    }
}


// ＊＊＊＊＊＊＊＊＊＊＊＊＊マスク＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊


.mask.active {
    @include tab {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #000;
        // visibility: hidden;
        z-index: 2;
        transition: .3s;
        // opacity: 0;
        // &.active {
            opacity: 0.7;    
            // visibility: visible;
        // }
    }
}
